<head>
  <meta charset="utf-8">
  <title>Ludmilla Aires</title>
  <link rel="stylesheet" type="text/css" href="/css/fonts.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <meta property="og:url"           content="{{ site.url }}" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="{{ site.title }}" />
  <meta property="og:description"   content="{{ site.description }}" />
  <meta property="og:image"         content="{{ page.photo | default: site.image_url }}" />
</head>
